*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 4em 6em 6em 6em;
}

li{
    list-style-type: none;
}

header{
    height: 100px;
    background-color: aqua;
}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.first_section{
    background-color: aqua;
    grid-column: 1 / 11;
}

.second_section{
    background-color: blue;
    grid-column: 11 / 13;
}